.buy-container {
    width: 500px;
    height: 630px;
    border: 1px solid rgb(0, 209, 35);;
    position: absolute;
    right: 40px;
    top: 280px;
    overflow: hidden;
    overflow-y: hidden;
    border-radius: 10px;
}

.money-counter {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 2rem;
    color: rgb(231, 231, 231);
}

.new-pack {
    position: absolute;
    width: 140px;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
}

.new-pack button {
    width: 140px;
    height: 50px;
    cursor: pointer;
    font-size: 17px;
    background-color: inherit;
    color: rgb(231, 231, 231);
    border-radius: 15px;
    border: 3px solid rgb(0, 209, 35);
}

.new-pack button:hover {
    border: 3px solid rgb(0, 138, 23);
}

.new-pack p {
    text-align: center;
    font-size: 1.2rem;
    color: rgb(231, 231, 231);
}

.new-player-container {
    position: relative;
    top: 220px;
    cursor: move;
}
.new-player-container img{
    position: absolute;
    width: 320px;
    left: 50%;
    transform: translate(-50%);
}

.new-player-name {
    position: absolute;
    font-size: 1.6rem;
    top: 40px;
    width: 500px;
    text-align: center;
}

.new-player-rating {
    position: absolute;
    font-size: 3.3rem;
    top: 110px;
    width: 500px;
    text-align: center;
}

.new-player-country {
    position: absolute;
    font-size: 1.6rem;
    top: 230px;
    width: 500px;
    text-align: center;
}

.new-player-position {
    position: absolute;
    top: 287px;
    font-size: 1.4rem;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    padding: 3px;
    border-radius: 30%;
    background-color: rgb(179, 241, 179);
    border: 1px solid;
    width: 60px;
}

.new-player-arrows {
    position: absolute;
    bottom: 10px;
    font-size: 3rem;
    width: 100px;
    display: flex;
    left: 50%;
    transform: translate(-50%);
    color: rgb(224, 224, 224)
}

.new-player-arrows i {
    cursor: pointer;
}


.npc-0 {
    visibility: visible;
}

.npc-1 {
    visibility: hidden;
}


