.soccer-image {
   max-height: 800px;
   position: relative;
   top: 50px;
   left: 40px;
   bottom: 50px;
   border-radius: 10px;
   border: solid 2px;
   z-index: -1;
   min-height: 800px;
   width: 1200px;
}

/* REPLACE PLAYERS STYLING */

.replace-players-container {
   width: 800px;
   height: 500px;
   position: absolute;
   top: 20%;
   left: 240px;
   background-color: rgb(128, 128, 128);
   border-radius: 20px;
   border: 1px solid red;
   z-index: 2;
   display: block;
}

.replace-players-button {
   position: absolute;
   top: 30px;
   right: 30px;
   cursor: pointer;
   background-color: beige;
   padding: 1rem;
   font-size: 1.3rem;
   border-radius: 1.2rem;
   
}
