body {
    background: linear-gradient(to right, #669135, #6a7c5f);
    height: 100vh;
    margin: 0; 
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: rgb(255, 255, 255);
    align-items: center;
    padding: 20px;
    border-radius: 30px;
    margin-top: 200px;
    width: 20%;
    height: 60%;
    position: absolute;
    right: 300px;
}

.title {
    text-align: center;
    font-size: 70px;
    color: rgb(40, 90, 40);
    margin-bottom: 10px;
}

.underline {
    width: 100px;
    height: 6px;
    background-color: rgb(40, 90, 40);
    border-radius: 20px;
    margin-bottom: 70px;
}


input {
    border-radius: 15px;
    padding: 7px;
    height: 40px;
    width: 200px;
    background-color: #eaeaea;
    margin-bottom: 20px;
    font-size: 20px;
}

.forgotten-password {
    margin-top: 20px;
}

.container-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    position: absolute;
    bottom: 30px;
}

.submit {
    padding: 15px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.text-login {
    padding: 15px;
}

.submit-signup:hover {
    background-color: #cbe2ae;
}

.submit-signup {
    background-color: #bfdf9a;
    margin-top: 30px;
    font-size: 20px;
}

.submit-login {
    border: 1px solid;
    font-size: 20px;
}

.fa-solid {
    margin-right: 15px;
    size: 30px;
}